body {
	background-image: url('https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg');
	background-size: cover;
}
.login-section {
	margin: auto;
	background-color: white;
	text-align: center;
	width: 320px;
	padding-top: 5px;
	padding-bottom: 40px;
	border-radius: 20px;
	border: 4px solid black;
	font-family: 'Germania One', cursive;
}
.title-text {
	text-align: center;
	text-decoration: bold;
	font-size: 50pt;
	color: black;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: 'Germania One', cursive;
}
.top-space {
	margin: 0 0 0 0;
	width: 100%;
	height: 25px;
}
.bottom-space {
	margin: 0 0 0 0;
	width: 100%;
	height: 25px;
}
.login-title {
	font-family: 'Germania One', cursive;
}
.page-section {
	margin: auto;
	background-color: white;
	text-align: center;
	width: 320px;
	padding-top: 5px;
	padding-bottom: 40px;
	border-radius: 20px;
	border: 4px solid black;
	font-family: 'Germania One', cursive;
}
.welcome-user
{
	padding-bottom: 10px;
}